<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <h1 class="title"><%= title %></h1>
    <form id="form" action="">
        <div class="form-group">
            <label for="domainName">Domain Name</label>
            <input type="text" class="form-control" name="domain" id="domainName" placeholder="example.com" required>
        </div>
        <div class="form-group">
            <label for="dataReg">Data registration</label>
            <input type="text" class="form-control" name="date" id="dataReg" placeholder="09.09.2018">
        </div>
        <div class="form-group">
            <label for="netGroup">Flow</label>
            <input type="text" class="form-control" name="group" id="netGroup" placeholder="picture1">
        </div>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
    <p class="message" id="message"></p>
    <script src="js/script.js"></script>
</body>
</html>
